body{
  background: black;
}

.app{
  position: relative;
  z-index: 1;
}


/* PRINCIPAL CONTAINER */

/* .principal_container{
  width: var(--bg-lg);
  display: flex;
  margin-inline: auto;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}
 */

 .principal_container{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: calc(100vh - 190px);
  /* align-items: center; */
  justify-content: center;
  margin-top: 1rem;
 }

.description_page{
  width: var(--bg-lg);
  margin-inline: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.description_page > h1 {
  color: white;
  text-align: center;
  border: 4px double white;
  padding: 1rem;
}


 /*  */


 @media screen and (max-width: 600px){
.description_page > h1{
  font-size: 1.2rem;
}
.description_page > p{
  font-size: .6rem;
}
 }
