*, *::after, *::before {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
  }

  a:-webkit-any-link{
    color: #abf8f8;
  }
html{
	scroll-behavior: smooth;
}

::-webkit-scrollbar{
	display: none;
}

:root{
  --bg-lg: 90%;
  --bg-md: 80%;
}

@font-face {
  font-family: permanenteMarker;
  src: url(./components/logo_arkal_react_icon/PermanentMarker-Regular.woff2) format("woff2");
  unicode-range: U+0000-00ff;
}

h1{
  color: white;
  width: 100%;
  font-family: permanenteMarker;
  margin-inline: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 2rem;
}
.services_container{
  width: 50%;
  margin-inline: auto;
  margin-top: 3rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}
.logo_cfe{
  width: 20rem;
  margin-top: 2rem;
}
.logo_megacable{
  width: 32rem;
  background-color: aliceblue;
  opacity: .8;
  margin-top: 1rem;
  border-radius: 8px;
}

@media screen and (max-width: 600px){
  .logo_megacable{
    width: 24rem;
    height: 8rem;
  }
  h1{
    width: 24rem;
  }
}